@import "tailwindcss";

:root {
  --background: #212428;
}
:root {
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

@theme inline {
  --color-background: var(--background);
  --font-mons: var(--font-montserrat);
  --font-pop: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212428;
  }
}

body {
  background: var(--background);
  font-family: var(--font-mons), sans-serif;
}

.primary-color {
  color: #ff014f;
}

.shadow1 {
  box-shadow: var(--shadow-1);
}
.transition1 {
  /* transition-behavior: normal; */
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}
.card-hover-gradient:hover {
  background: linear-gradient(to right bottom, #212428, #16181c);
}
